@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(5px, 0, 0);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  10% {
    opacity: 0.9;
    transform: translate3d(0, -10px, 0);
  }
  25% {
    transform: translate3d(0, -25px, 0);
  }
  40%{
    opacity: 0.1;
    transform: translate3d(0, -10px, 0);
  }
  50%{
    visibility: hidden;
    transform: translate3d(0, 0, 0);
  }
  60% {
    opacity: 0.1;
    transform: translate3d(0, -10px, 0);
  }
  75%{
    transform: translate3d(0, -25px, 0);
  }
  90% {
    opacity: 0.9;
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}