/*font-face*/
@font-face {
  font-family: "Devonshire";
  src: url("font/Devonshire-Regular.woff") format('woff');
}
@font-face {
  font-family: "kaushan";
  src: url("font/KaushanScript-Regular.woff") format('woff');
}
@font-face {
  font-family: "croissant";
  src: url("font/CroissantOne-Regular.woff") format('woff');
}
@font-face {
  font-family: "dancing";
  src: url("font/DancingScript-Regular.woff") format('woff');
}
@font-face {
  font-family: "Segoe Print";
  src: url("font/Segoe Print.woff") format('woff');
}
@font-face {
  font-family: "classic-round";
  src: url("font/Classic Round W00 Medium.woff") format('woff');
}
