@mixin degrade-alt-img-menu1{
  background: linear-gradient(to right, #F04A5E, #F5BC65);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin degrade-menu2{
  background: #E38913;
  background: linear-gradient(to right, #E38913 0%, #E38913 27%, #8F5BFE 62%, #8F5BFE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin degrade-menu3{
  background: #0431DF;
  background: linear-gradient(to right, #0431DF 0%, #0431DF 26%, #1B91FA 74%, #1B91FA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin degrade-menu4{
  background: #3D923A;
  background: linear-gradient(to right, #3D923A 0%, #3D923A 27%, #BEFF7F 74%, #BEFF7F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin underline($bg){
  .underline-title {
    position: relative;
  }
  .underline-title::after {
    content: "";
    background-color: $bg;
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0.8;
    -webkit-transition: width 300ms;
    transition: width 300ms;
  }
  .underline-title:hover::after {
    width: 100%;
  }
}
