@mixin degrade-alt-img-menu1{
  background: linear-gradient(to right, #F04A5E, #F5BC65);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin degrade-menu2{
  background: linear-gradient(90deg, #E38913 27%, #8F5BFE 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin degrade-menu3{
  background: -webkit-linear-gradient(167deg, #0020d8, #0889fb 87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin degrade-menu4{
  background: -webkit-linear-gradient(150deg, #3d923a, #bfff7f 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin underline($bg){
  .underline-title {
    position: relative;
  }
  .underline-title::after {
    content: "";
    background-color: $bg;
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0.8;
    -webkit-transition: width 300ms;
    transition: width 300ms;
  }
  .underline-title:hover::after {
    width: 100%;
  }
}
