/*colors*/
$bg-degrade-menu2: linear-gradient(to right, #E38913 27%, #8F5BFE 62%);
$bg-degrade-menu3: linear-gradient(to right, #0020d8, #0889fb 87%);
$bg-degrade-menu4: linear-gradient(to right, #3d923a, #bfff7f 90%);
$color-font-head-coming-foot: #FDCB46;
$color-font-menucard-title: #353535;
$color-font-menu1: #3D1319;
$color-font-menu2-homepage_menu: #C77412;
$color-font-menu2-starters: #C67412;
$color-font-menu2-mainCourses: #A56799;
$color-font-menu2-desserts: #6E4CCC;
$color-font-menu3: black;
$bg-menu3-underline1: #0228DD;
$bg-menu3-underline2: #0670F3;
$bg-menu3-underline3: #229DF9;
$bg-menu4-underline: #9AE16C;
$bg-menu1: #FDE0DC;
$bg-menu2: #FFF5FE;
$bg-menu3: #EDEFEF;
$bg-menu4: #FDFFFD;
$bg-header-coming-footer: #579C87;


/*fonts*/
$font-head-coming-foot: "Arial";
$font-menu1-title: "Devonshire";
$font-menu1-3-4-card: "Segoe Print";
$font-menu2-title: "croissant";
$font-menu2-card: "classic-round";
$font-menu3-title: "dancing";
$font-menu4-title: "kaushan";
$font-legal-notice: "Verdana";

/*font-size*/
$font50: 50px;
$font40: 40px;
$font45: 45px;
$font30: 30px;
$font25: 25px;
$font20: 20px;
$font15: 15px;