/*import*/
@import "_placeholder.scss";
@import "_mixin.scss";
@import "_font-face.scss";
@import "_variable.scss";
@import "_animations.scss";

/*class utils*/
.display-flex{
  display: flex;
}
.box_size{
  box-sizing: border-box;
}
.justify_center{
  justify-content: center;
}
.align_center{
  align-items: center;
}
.font_bold{
  font-weight: bold;
}

/*Header & Footer*/
header{
  color: $color-font-head-coming-foot;
  font-family: $font-head-coming-foot;
  background-color: $bg-header-coming-footer;
  font-size: 15vw;
  flex: 0 0 100%;
  height: 144px;
  letter-spacing: -1vw;
  a{
    text-decoration: none !important;
    color: $color-font-head-coming-foot;
    &:visited{
      color: $color-font-head-coming-foot;
    }
  }
}
footer{
  background-color: $bg-header-coming-footer;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 105px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  a{
    color: $color-font-head-coming-foot;
    font-size: 5vw;
    text-decoration: none;
    font-family: $font-head-coming-foot;
    &:first-child{
      flex: 0 0 45%;
      padding-top: 3vh;
    }
    &:last-child{
      flex: 0 0 48%;
    }
    &:hover{
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
      transform: translateX(0);
    }
  }
}

/*Homepage*/
body{
  text-align: center;
  margin: auto;
  word-break: break-word;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
main{
  flex-wrap: wrap;
  margin: 5%;
  p:not(#font_menu2){
    font-family: $font-menu1-3-4-card;
  }
}
img{
  object-fit: scale-down;
}
#menu1_homepage{
  background-color: $bg-menu1;
  font-family: $font-menu1-title;
  color: $color-font-menu1;
  @extend %menu-homepage-settings;
  img{
    margin: auto;
    width: 100px;
  }
  a {
    color: $color-font-menu1;
  }
  h3{
    font-size: $font50;
  }
}
#menu2_homepage{
  background-color: $bg-menu2;
  font-family: $font-menu2-title;
  @extend %menu-homepage-settings;
  #font_menu2{
    color: $color-font-menu2-homepage_menu;
  }
  .degrade2{
    @include degrade($bg-degrade-menu2);
    font-size: $font30;
  }
}
#menu3_homepage{
  background-color: $bg-menu3;
  @extend %menu-homepage-settings;
  .degrade3{
    @include degrade($bg-degrade-menu3);
    font-family: $font-menu3-title;
    font-size: $font50;
    padding: 5%;
  }
  p{
    color: #0887FB;
  }
}
#menu4_homepage{
  background-color: $bg-menu4;
  @extend %menu-homepage-settings;
  .degrade4{
    @include degrade($bg-degrade-menu4);
    font-family: $font-menu4-title;
    font-size: $font50;
  }
  p{
    color: #72BF56;
  }
}
#coming{
  width: 72%;
  height: 8vh;
  background-color: $bg-header-coming-footer;
  color: $color-font-head-coming-foot;
  font-family: $font-head-coming-foot;
  margin: 6vh auto 20vh auto;
  border-radius: 12px;
  h6{
    font-size: 6.5vw;
  }
  span{
    font-size: 4.5vw;
  }
  #dot1{
    animation: blink 2s infinite linear;
  }
  #dot2{
    animation: blink 2s infinite linear;
    animation-delay: 0.3s;
  }
  #dot3{
    animation: blink 2s infinite linear;
    animation-delay: 0.6s;
  }
}

/*Menu cards*/
.before-menu-card{
  .menu-card_title {
    flex: 0 0 100%;
    padding: 55px 0 55px 0;
    font-size: $font40;
    font-family: $font-head-coming-foot;
    color: $color-font-menucard-title;
  }
  .return{
    display: none;
  }
}
.menu-card {
  @extend %menu-card-settings;
  .padding_title3-4{
    padding: 30px 0 30px 0;
    font-size: $font50;
  }
}
#menu1 .menu-card{
  background-color: $bg-menu1;
  color: $color-font-menu1;
  font-family: $font-menu1-3-4-card;
  @include underline($color-font-menu1);
  h3{
    font-size: 32px;
    padding: 5% 5% 53px 5%;
  }
  ul:last-child{
    padding-bottom: 50px;
  }
  li{
    padding: 0 5% 36px 5%;
  }
  #menu1_card {
    &_identityTop {
      font-size: 59px;
      font-family: $font-menu1-title;
      padding: 30px 0 30px 0;
      h2{
        padding-top: 0;
      }
      img {
        max-width: 130px;
      }
    }
    &_identityBottom {
      h2 {
        font-size: $font45;
        font-family: $font-menu1-title;
        flex-direction: row;
        img {
          padding-right: 2%;
          max-width: 75px;
        }
      }
    }
  }
}
#menu2 .menu-card{
  background-color: $bg-menu2;
  font-family: $font-menu2-card;
  font-weight: normal;
  .degrade2{
    @include degrade($bg-degrade-menu2);
    font-family: $font-menu2-title;
    font-size: $font50;
  }
  h3{
    font-family: $font-menu2-title;
  }
  #starters{
    color: $color-font-menu2-starters;
    @include underline($color-font-menu2-starters);
  }
  #mainCourses{
    color: $color-font-menu2-mainCourses;
    @include underline($color-font-menu2-mainCourses)
  }
  #desserts{
    color: $color-font-menu2-desserts;
    @include underline($color-font-menu2-desserts);
  }
}
#menu3 .menu-card{
  background-color: $bg-menu3;
  font-family: $font-menu1-3-4-card;
  .degrade3{
    @include degrade($bg-degrade-menu3);
    font-family: $font-menu3-title;
  }
  #starters{
    @include underline($bg-menu3-underline1);
  }
  #mainCourses{
    @include underline($bg-menu3-underline2);
  }
  #desserts{
    @include underline($bg-menu3-underline3);
  }
}
#menu4 .menu-card{
  background-color: $bg-menu4;
  font-family: $font-menu1-3-4-card;
  @include underline($bg-menu4-underline);
  .degrade4{
    @include degrade($bg-degrade-menu4);
    font-family: $font-menu4-title;
  }
}

/*Legal Notice*/
#legal-notice{
  font-family: $font-legal-notice;
  width: 80%;
  margin: 5% auto 45% auto;
  h2{
    font-size: 15vw;
    padding: 5%;
    @include underline(#FED464);
    img{
      display: none;
      padding: 0 5% 0 5%;
    }
  }
  h4{
    font-size: 10vw;
    padding: 5%;
  }
  p{
    font-size: 5vw;
  }
}

/*Mobile Landscape and TabletPortrait*/
@media screen and (min-width: 577px){
  /*Header & Footer*/
  header{
    font-size: 74px;
    height: 246px;
    letter-spacing: -6px;
    h1{
      transform: scale(1);
    }
  }
  footer{
    flex-direction: row;
    justify-content: space-around;
    a{
      &:first-child{
        padding-top: 0;
        text-align: left;
      }
      &:last-child{
        text-align: right;
      }
    }
  }

  /*Homepage*/
  main{
    margin-top: 10%;
    p{
      font-size: $font45;
    }
  }
  #menu2_homepage{
    .degrade2 {
      font-size: $font45;
    }
  }
  #coming{
    margin-bottom: 45%;
    height: 116px;
    border-radius: 30px;
    h6{
      font-size: 35px;
    }
    span{
      font-size: $font15;
    }
  }

  /*Menu cards*/
  .menu-card{
    margin-bottom: 20%;
  }
  #menu1 .menu-card{
    span{
      padding: 0 15px 0 15px;
    }
  }

  /*Legal Notice*/
  #legal-notice{
    h2{
      font-size: $font50;
    }
    h4{
      font-size: $font30;
    }
    p{
      font-size: $font15;
    }
  }
}

/* Tablet Landscape*/
@media screen and (min-width: 768px){
  /*Header & Footer*/
  footer{
    height: 135px;
    a{
      font-size: 35px;
    }
  }

  /*Homepage*/
  main{
    flex-direction: row;
    #menu4_homepage, #menu3_homepage, #menu2_homepage, #menu1_homepage{
      flex: 0 0 45%;
      p{
        font-size: $font50;
      }
    }
    #menu1_homepage{
      p{
        padding-top: 20%;
      }
      img{
        width: 100px;
      }
    }
  }
  #coming{
    width: 50%;
    margin-bottom: 22%;
    h6{
      font-size: $font40;
    }
  }

  /*Menu cards*/
  .before-menu-card{
    .menu-card_title{
      flex: 0 0 100%;
    }
  }
  .menu-card{
    width: 80%;
    li{
      text-align: left;
      flex-direction: row;
      p:nth-child(2){
        padding-top: 0;
      }
      .price{
        flex: 0 0 20%;
        text-align: right;
      }
    }
    h3 {
      justify-content: space-between;
      box-sizing: border-box;
      span{
        white-space: nowrap;
        padding: 0 10px 0 10px;
      }
      img {
        display: flex;
        max-width: 15%;
      }
    }
  }

  /*Legal Notice*/
  #legal-notice{
    margin-bottom: 20%;
    h2{
      img{
        display: flex;
        flex: 0 0 30%;
        max-width: 25%;
      }
    }
  }
}

/*Computer screen*/
@media screen and (min-width: 992px){
  /*Homepage*/
  #menu4_homepage, #menu3_homepage, #menu2_homepage, #menu1_homepage{
    height: 760px;
  }
  #menu3_homepage{
    .degrade3{
      padding: 15%;
    }
    h3{
      font-size: 90px;
    }
  }
  #coming{
    width: 40%;
  }

  /*Menu cards*/
  .before-menu-card{
    padding-top: 70px;
  }
  .menu-card{
    .padding_title3-4{
        font-size: 90px;
        padding: 100px 0 50px 0;
    }
    h3{
      img{
        max-width: 25%;
      }
    }
  }
  #menu2 .menu-card{
    .degrade2{
      padding: 50px 0 50px 0;
    }
  }
}

/*Large computer screen*/
@media(min-width: 1200px){
  main{
    width: 80%;
    margin: 5% auto 5% auto;
  }
  #menu3_homepage {
    .degrade3 {
      padding: 0;
    }
  }
  #coming{
    margin-bottom: 12%;
    width: 33%;
    h6{
      font-size: $font50;
    }
  }
  .before-menu-card{
    .return {
      display: flex;
      position: absolute;
      top: 350px;
      margin-left: 10%;
      img{
        max-width: 20%;
      }
    }
  }
  .menu-card{
    h3{
      img{
        max-width: 100%;
      }
    }
    li{
      .price{
        flex: 0 0 15%;
      }
    }
  }
}

@media print{
  html{
    transform: scale(0.85);
  }
  footer, .before-menu-card,
  #menu1_card_identityBottom, img, #coming{
    display: none;
    visibility: hidden;
  }
  header{
    height: 5px;
    font-size: 50px;
    letter-spacing: -9px;
    background-color: white;
    color: black;
    a{
      color: black;
      &:visited{
        color: inherit;
      }
    }
  }
  #menu1 .menu-card, #menu2 .menu-card,
  #menu3 .menu-card, #menu4 .menu-card,
  #menu1_homepage, #menu2_homepage,
  #menu3_homepage, #menu4_homepage{
    background-color: white;
    .degrade2, .degrade3, .degrade4{
      -webkit-text-fill-color: black;
      background: white;
    }
    page-break-inside: avoid;
    .price{
      font-size: 15px;
    }
    h2{
      padding: 0 0 15px 0;
    }
    h3{
      font-size: 18px;
      padding: 0 0 10px 0;
    }
    li{
      padding: 0 0 5px 0;
    }
  }
  .menu-card{
    padding: 0;
    margin: 5%;
    box-shadow: none;
  }
  .before-menu-card{
    .menu-card_title {
      padding: 0;
      font-size: 20px;
    }
  }
  #menu1 .menu-card{
    color: black;
    h3{
      padding-bottom: 10px;
    }
    ul:last-child{
      padding: 0;
    }
    #menu1_card_identityTop{
      padding: 20px 0 20px 0;
    }
  }
  #menu2 .menu-card{
    #starters, #mainCourses, #desserts{
      color: black;
    }
  }
  #menu1_homepage, #menu2_homepage,
  #menu3_homepage, #menu4_homepage {
    a{
      opacity: 1;
    }
    .degrade2, .degrade3, .degrade4 {
      -webkit-text-fill-color: black;
    }
    height: 190px;
    page-break-inside: avoid;
    font-size: 50px;
    box-shadow: 3px 0 12px black;
    background-color: white;
  }
  main{
    margin: 0;
  }
  #menu1_homepage{
    h3{
      font-size: 50px;
      color: black;
    }
    color: black;
  }
  #menu2_homepage{
    #font_menu2{
      color: black;
    }
  }
  #menu3_homepage, #menu4_homepage{
    p{
      color: black;
    }
  }
}