$color-menu1: #FCDFDB;
$color-font-menu1: #611D27;
$color-font2-menu1: #3C1218;
$color-menu2: #FFF5FE;
$color-menu3: #F9F9F9;
$color-menu4: #FDFFFD;
$color-header-coming-footer: #579C87;
$color-font-head-coming-foot: #FDCB46;
$font-head-coming-foot: "Arial";
@font-face {
  font-family: Devonshire;
  src: url("font/Devonshire-Regular.woff") format('woff');
}
@font-face {
  font-family: kaushan;
  src: url("font/KaushanScript-Regular.woff") format('woff');
}
@font-face {
  font-family: croissant;
  src: url("font/CroissantOne-Regular.woff") format('woff');
}
@font-face {
  font-family: dancing;
  src: url("font/DancingScript-Regular.woff") format ('woff');
}
@font-face {
  font-family: "Segoe Print";
  src: url("font/Segoe Print.woff") format('woff');
}
main{
  box-sizing: border-box;
  word-break: break-word;
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-header-coming-footer;
  flex: 0 0 100%;
  height: 144px;
  font-size: 54px;
  color: $color-font-head-coming-foot;
  font-family: $font-head-coming-foot;
  font-weight: bold;
  letter-spacing: -6px;
}
#menu1, #menu2, #menu3, #menu4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 80%;
  height: 350px;
  margin: 5% auto 0 auto;
  box-sizing: border-box;
  word-wrap: break-word;
  box-shadow:  0px 0px 25px -4px #616585;
  text-align: center;
  padding: 2%;
  a {
    text-decoration: none;
    transform: scale(0.8);
    opacity: 1;
    transition: all ease-out 250ms;
    &:hover{
      transform: scale(1);
      opacity: 0.9;
    }
  }
  h3{
    font-size: 50px;
  }
  p{
    font-size: 40px;
    padding-top: 10%;
    font-family: "Segoe Print";
  }
}
#menu1{
  background-color: $color-menu1;
  font-family: "Devonshire";
  img{
    display: flex;
    box-sizing: border-box;
    margin: 0 auto 10% auto;
    font-size: 130px;
    justify-content: center;
    background: linear-gradient(to right, #F04A5E, #F5BC65);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  a{
    color: $color-font2-menu1;
    &:visited{
      color: $color-font2-menu1;
    }
    &:hover{
      color: $color-font-menu1;
    }
  }
}
#menu2{
  background-color: $color-menu2;
  h3, p{
    font-family: "croissant";
    font-size: 40px;
  }
  a{
    background: -webkit-gradient(linear, left top, right top, from(#D78431), to(#905BFC));
    background: linear-gradient(to right, #D78431 0%, #905BFC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } else {
    color: #D78431;
      }

}
#menu3{
  background-color: $color-menu3;
  font-family: "dancing";
  a{
    background: -webkit-gradient(linear, left top, right top, from(#0431DF), to(#0887FB));
    background: linear-gradient(to right, #0431DF 0%, #0887FB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } else {
    color: #0431DF;
      }
}
#menu4{
  background-color: $color-menu4;
  font-family: "kaushan";
  a{
    background: -webkit-gradient(linear, left top, right top, from(#42973C), to(#BFFF7E));
    background: linear-gradient(to right, #42973C 0%, #BFFF7E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } else {
    color: #42973C;
      }
}
h3{
  display: flex;
  justify-content: center;
  img{
    display: none;
    box-sizing: border-box;
    object-fit: scale-down;
    max-width: 100%;
  }
}
#coming{
  width: 72%;
  height: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-header-coming-footer;
  color: $color-font-head-coming-foot;
  font-family: $font-head-coming-foot;
  margin: 10% auto 60% auto;
  border-radius: 30px;
  p{
    font-size: 20px;
  }
  span{
    font-size: 15px;
  }
}
#dot1{
  animation: blink 2s infinite linear;
}
#dot2{
  animation: blink 2s infinite linear;
  animation-delay: 0.3s;
}
#dot3{
  animation: blink 2s infinite linear;
  animation-delay: 0.6s;
}
@keyframes blink {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  10% {
    opacity: 0.9;
    transform: translate3d(0, -10px, 0);
  }
  25% {
    transform: translate3d(0, -25px, 0);
  }
  40%{
    opacity: 0.1;
    transform: translate3d(0, -10px, 0);
  }
  50%{
    visibility: hidden;
    transform: translate3d(0, 0, 0);
  }
  60% {
    opacity: 0.1;
    transform: translate3d(0, -10px, 0);
  }
  75%{
    transform: translate3d(0, -25px, 0);
  }
  90% {
    opacity: 0.9;
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
footer{
  background-color: $color-header-coming-footer;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 135px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  a{
    color: $color-font-head-coming-foot;
    font-size: 25px;
    text-decoration: none;
    font-family: $font-head-coming-foot;
    &:first-child{
      flex: 0 0 45%;
      padding-top: 5%;
    }
    &:last-child{
      flex: 0 0 48%;
    }
    &:hover{
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(5px, 0, 0);
  }
}

/*Mobile Landscape and TabletPortrait*/
@media screen and (min-width: 577px){
  header{
    font-size: 74px;
    height: 246px;
  }
  #coming{
    margin-bottom: 45%;
    p{
      font-size: 35px;
    }
  }
  p{
      font-size: 45px;
    }
  footer{
    flex-direction: row;
    justify-content: space-around;
    a{
      font-size: 36px;
      &:first-child{
        padding-top: 0;
        text-align: left;
      }
      &:last-child{
        text-align: right;
      }
    }
  }
}

/*Tablet Landscape*/
@media screen and (min-width: 768px){
  main{
    flex-direction: row;
  }
  #menu1, #menu2, #menu3, #menu4{
    flex: 0 0 45%;
  }
  #coming{
    width: 50%;
    margin-bottom: 22%;
    p{
      font-size: 42px;
    }
  }
}

/*Computer screen*/
@media screen and (min-width: 992px){
  #menu1, #menu2, #menu3, #menu4{
    height: 760px;
    margin-right: 5%;
    }
}


/*Large computer screen*/
@media(min-width: 1200px){
  main{
    margin: 5% 8% 5% 12%;
  }
}